<section class="cover text-center">
  <div class="cover-container lg-6 pb-2">
    <div class="cover-inner container justify-content-start">
      <h1 class="jumbotron-heading"><span class="title">EGG</span><br>HEADS</h1>
        <p class="lead">
          A Comrade who tries to discover and nurture<br>
          the hidden potential of students and guides them to<br>
          a successful crusader of their domain of interest.
        </p>
        <p>
          <a href="/users/register" class="btn btn-primary btn-lg mb-2 mr-2 ml-2">Join Now</a>
        </p>
    </div>
  </div>
</section>

<div class="egg-works">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h3>How Mr.Egg works with you !</h3></div>
      <div class="row row-cols-1 row-cols-md-3 mt-5">
        <div class="col mb-4">
          <div class="my-card h-100">
            <img src="/static/images/vector/flow.png" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Finding Your Flow</h5>
          <p class="card-text">Everyone in this world posses their own Uniqueness. Let's find what you are upto !</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="my-card h-100">
        <img src="/static/images/vector/domain.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Choosing Your Domain</h5>
          <p class="card-text">Select your Domain and start upgrading your skills. </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="my-card h-100">
        <img src="/static/images/vector/Productivity.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Experience Productivity</h5>
          <p class="card-text">Personalised Tracking Module along with our Domain Expert!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End of work -->

    <!-- Journey -->
    <div class="journey">
      <div class="container">
        <div class="row justify-content-center">
          <h3 id="jou">Journey with us!</h3></div>
          <div class="row row-cols-1 row-cols-md-2 mt-5">
                <div class="col mb-3">
                  <div class="my-card h-100">
                    <!-- <img src="vector/flow.png" height="400px" width="200px" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title" id="jou">Ignite</h5>
                      <p class="card-text" id="jou">Bootcamp in which you explore various domains to find your flow !</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="my-card h-100">
                    <!-- <img src="vector/domain.png" height="400px" width="200px" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="jou card-title" id="jou">Kindle</h5>
                      <p class="jou card-text" id="jou">Journey towards your career destiny !</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Enroll now -->
    <div class="container">
      <div class="row justify-content-center">
        <a class="my-card mt-5 mb-2 px-3 py-3" href="/users/login" role="button"><p class="h3">Enroll Now!</p></a>
      </div>
      <div class="row justify-content-center">
        <p class="lead">Login to Start your Journey with us.</p>
      </div>
    </div>

  </section>