<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="navbar-brand" href="/">
                            <img src="/static/images/EggHeads.png" width="125" height="50" class="d-inline-block align-center" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>-->
        <div class="modal-body">
            {{#if error_msg}}
            <div class="alert alert-danger text-center">{{ error_msg }}</div>
            {{/if}}
            {{#if errors}}
                {{#each errors }}
                    <div class="alert alert-danger">{{msg}}</div>
                {{/each }}
            {{/if}}

            
        <form action="/users/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="First Name" name="firstName">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Last Name" name="lastName">
                </div>
            </div>
            <!--<label for="exampleInputPassword1">Password</label>-->  
            <div class="form-group" id="formGroup">
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" name="email">
            <div class="alert alert-danger" id="alert-email" style="display: none;"></div>
            </div>
            <div class="form-group">
            <!--<label for="exampleInputPassword1">Password</label>-->
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            <div class="alert alert-danger" id="alert-password" style="display: none;"></div>
            </div>
            <div class="form-group">
            <!--<label for="exampleInputPassword1">Password</label>-->
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password" name="confirmPassword">
            <div class="alert alert-danger" id="alert-confirm" style="display: none;"></div>
            </div>
            <div class="form-group">
            <!--<label for="exampleInputPassword1">Password</label>-->
                <select class="custom-select" id="inputGroupSelect01" name="course">
                    <option selected>Choose course</option>
                    <option value="ignite">Ignite</option>
                    <option value="kindle">Kindle</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                <button type="submit" class="btn btn-primary" style="background-color: #1a2e35;">Join us</button>
                </div>
                <div class="col text-right">
                <small class="form-text">Have an account? <a class="active" style="color: #1a2e35;" href="/users/login">Get In</a></small>
                </div>
            </div>
        </form>
        </div>
        <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>--->
    </div>
</div>