<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#if result}}
            {{#each result }}
            <th scope="row">1</th>
            <td>{{result.firstName}}</td>
            <td>{{result.lastName}}</td>
            <td>{{result.email}}</td>
            {{/each }}
            {{/if}}        
        </tr>
    </tbody>
</table>