body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #46484a; }

a {
  color: #d8d8d8; }

h1 {
    font-size: 4rem;
    text-align:left;
    color:#192a46;
    line-height:0.9;
    margin-top:300px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500; }

h3 {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Roboto",
  "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 500; }

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  /* color: #696b6e; */
  font-size: .9rem; 
  text-align: left
  ;}
  
.title{
  font-size: 4rem;
  text-align:left;
  color:#38b190;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 600; */

}
.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto; }
  
/* 
Navbar-------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------- */
.nav-button{
  border-radius: 20px;
  border: 1px solid #59D9C3;
}
.header{
  width:100%;
}
.sticky-top {
  background: white;
}
.navbar-trans {
  background: transparent; }

a.navbar-brand, a.logo {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }

.cover {
  position: relative;
  display:table;
  background: #2b2d34 url(../images/Eggheads_landingpage_1.jpg);
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  
  .cover h1 {
    font-weight: 800; }
  
  .cover p.lead {
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Roboto",
    "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height:1.0;
    text-align:left;
    margin: 2rem auto;
    color: #1a3047; }
  
  .cover .cover-container {
    display: table;
    height: 50%;
    min-height: 44rem;
    margin: 0 30;
    padding-left:10px; }
    
    .btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary, .btn-white, .btn-outline-white, .btn-success, .btn-outline-success, .btn-info, .btn-outline-info, .btn-warning, .btn-outline-warning, .btn-danger, .btn-outline-danger {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem; }

.btn-outline-primary, .btn-outline-secondary, .btn-outline-white, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
  border-width: 0.15rem; }

.btn-lg {
  padding: 1.1rem 2.5rem;
  font-size: .9rem; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #1a2e35;
  border-color: #1a2e35; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #2b454e;
  border-color: #2b454e; }

.btn-outline-primary, .btn-outline-primary:visited {
  color: #1a2e35;
  border-color: #1a2e35;
  background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #1a2e35;
  border-color: #1a2e35;
  color: #fff; }

.btn-secondary {
  border-color: #696b6e;
  background-color: #696b6e;
  color: #fff; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #46484a;
  background-color: #46484a;
  color: #fff; }

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #696b6e;
  border-color: #696b6e;
  background: none; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #696b6e;
  background: #696b6e;
  color: #fff; }

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: #46484a; }

.btn-white:hover, .btn-white:focus, .btn-white:active {
  border-color: #dfe1e5;
  background-color: #dfe1e5;
  color: #46484a; }

.btn-outline-white, .btn-outline-white:visited {
  background: none;
  color: #fff;
  border-color: #fff; }

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  color: #46484a;
  background: #fff; }

.link-white, link-white:visited {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border: 0;
  color: #fff; }

.link-white:hover, .link-white:focus, .link-white:active {
  color: #dfe1e5 !important; 
}

/* Egg-works
--------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------- */
.egg-works{
    padding:25px 10px 25px 10px;
    background-color:#f5f5f5;
}

.my-card{
  border-radius: 20px;
  border: 1px solid #59D9C3;
}
.journey{
  padding:25px 10px 25px 10px;
  background-color:#263238;
}
#jou{
  color:#dfe1e5;
  text-align:center;
}


footer{
    padding:25px 10px 25px 10px;
    background-color: #3ff1a7;
}
.footer-section{
  color: #263238;
  margin: 10px;
}
.footer__info{
    padding-top:5px;
    color:#263238;
}
.footer-content{
    color: #263238;
}
.footer-logo{
  color:#fff;
  border-radius: 25px;
  border: 3px solid #192a46;
}

/* 
--------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------- */
.video{
  padding: 25px 25px 25px 25px;

}

.video .v-title{
  text-align:center;
}

.my-video-dimensions{
  width:800px;
  height:400px;
}